<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<serverLocation>http://test.intellifactory.com/?</serverLocation>
	<wp7 template="WebSharperApp.xap" />
	<androidBuilds>
		<build>
			<templateApk>WebSharperApp-v21.apk</templateApk>
			<signAndroid />
			<key>appKeyOne.keystore</key>
			<alias>aliasName</alias>
			<passphrase>112358</passphrase>
		</build>
		<build>
			<templateApk>WebSharperApp-v22.apk</templateApk>
			<signAndroid />
			<key>appKeyOne.keystore</key>
			<alias>aliasName</alias>
			<passphrase>112358</passphrase>
		</build>
	</androidBuilds>
</configuration>
