<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<serverLocation>http://test.intellifactory.com/?</serverLocation>
	<wp7 template="WebSharperApp.xap" />
	<androidBuilds>
		<!--<build>
			<outputPackage>WebSharperApp-v21.apk</outputPackage>
			<sdkVersion>7</sdkVersion>
			<signAndroid />
			<key>appKeyNew.keystore</key>
			<alias>wsmobile</alias>
			<passphrase>fsharp149</passphrase>
		</build>-->
		<build>
			<outputPackage>WebSharperApp-v22.apk</outputPackage>
			<sdkVersion>8</sdkVersion>
			<signAndroid />
			<key>appKeyNew.keystore</key>
			<alias>wsmobile</alias>
			<passphrase>fsharp149</passphrase>
		</build>
	</androidBuilds>
</configuration>
