/* MainPage */
#main-page #choose-dict
{
    padding-top: 0px;
    padding-bottom: 130px;
}

#main-page #add-new-word 
{
    padding-top: 0px;
    padding-bottom: 30px;
}

#main-page #new-word 
{
    text-align: center;
}


/* TestsPage */
#test-page #test-result, #test-page #test-correct
{
    margin: 20px 0px;
    height: 20px;
}

#test-page #test-correct
{
    color: Green;
}

#test-page #test-result.test-correct 
{
    color: Green;
}

#test-page #test-result.test-incorrect 
{
    color: Red;
}

#test-page input.test-correct,  #test-page label.ui-btn.test-correct
{
    border: 1px solid Green; 
}

#test-page input.test-incorrect,  #test-page label.ui-btn.test-incorrect
{
    border: 1px solid Red; 
}

#test-page #test-current 
{
    text-align: center;
}