<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<wp7 />
	<!-- if you would like the app to be marked as a game, comment previous line and uncomment the following line: -->
	<!-- <wp7><isgame /></wp7> -->
	<androidBuilds>
		<!--<build>
			<outputPackage>WebSharperApp-v21.apk</outputPackage>
			<sdkVersion>7</sdkVersion>
			<signAndroid />
			<key>appKey.keystore</key>
			<alias>aliasname</alias>
			<passphrase>passphrase</passphrase>
		</build>
		<build>
			<outputPackage>WebSharperApp-v22.apk</outputPackage>
			<sdkVersion>8</sdkVersion>
			<signAndroid />
			<key>appKey.keystore</key>
			<alias>aliasname</alias>
			<passphrase>passphrase</passphrase>
		</build>-->
	</androidBuilds>
</configuration>
